# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# Local Environment Variables
.env.local

# Prisma
# Keep dev.db in gitignore for local development
prisma/dev.db
prisma/dev.db-journal

# Logs & Build Artifacts (NEW)
*.log
*.txt
*.patch